// Import SCSS files
@import '../../../styles/config';


// Header
.header_section{
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    position: fixed;
    background-color: $secondary-color
}